# See https://help.github.com/ignore-files/ for more about ignoring files.

# data
/lstm/data/
/lstm/models/
.ipynb_checkpoints

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

