# See https://help.github.com/ignore-files/ for more about ignoring files.

# data
/lstm/data/
/lstm/models/
.ipynb_checkpoints

# dataset
/music-transformer/MusicTransformer-Pytorch/dataset
*.zip
/music-transformer/MusicTransformer-Pytorch/__pycache__
*.sf2
/music-transformer/MusicTransformer-Pytorch/model/__pycache__/
/music-transformer/MusicTransformer-Pytorch/utilities/__pycache__/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

